@model FreeRiders.Web.Areas.Administration.ViewModels.AlbumDetailsModel

<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <img src="@Model.Picture.ImageUrl" alt="No picture found..." class="image-in-container" />
                </div>
                <div class="col-md-8">
                    <h1>@Model.Title</h1>
                    <h4>@Model.Location.Name</h4>
                    <h4>@Model.Category.Name</h4>
                    <p>
                        @Model.Description
                    </p>
                </div>
            </div>
            <div class="row">
                @foreach (var picure in Model.Pictures)
                {
                    <div class="col-md-1 ">
                        <a data-toggle="modal" data-target="#img-thumbnail@picture.ImageUrl" class="img_modal" href="@picure.ImageUrl" target="_blank">
                            <img id="img-thumbnail@picture.ImageUrl" class="img-thumbnail" src="@picure.ImageUrl" alt="No picture found here..." class="image-in-container" />
                        </a>
                    </div>
                }
            </div>

            <div id="modal" style=" overflow:hidden;" class="modal hide fade container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <h4 id="myModalLabel">@Model.Title</h4>
                </div>
                <div class="modal-body text-center image-container-modal">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <img id="modal_img_target" class="image-in-container" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $('.img_modal').on('click', function (e) {
            e.preventDefault();
            $("#modal_img_target").attr("src", this);
            $("#modal").removeClass("hide");
            $('#modal').modal('show');
        });
    </script>
}