@model DateTime

<p>
    <span>
        @Model.Day (@Model.DayOfWeek) /
        @Model.Month /
        @Model.Year -
        @String.Format("{0:00}", Model.Hour) :
        @String.Format("{0:00}", Model.Minute)
    </span>
</p>