@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @*@{ Html.RenderAction("DisplayPhoto", "Account"); }*@
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="@Url.Action("Avatar", "User", new { Area = string.Empty, username = this.User.Identity.Name })" alt="No avatar was found" class="avatar-top-right" />
                @User.Identity.GetUserName()
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <img src="@Url.Action("Avatar", "User", new { Area = string.Empty, username = this.User.Identity.Name })" alt="No avatar was found" class="img-responsive" />
                    @Html.ActionLink("User profile", "Profile", "User", new { Area = string.Empty, username = User.Identity.Name }, null)
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </li>
            </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
