@using FreeRiders.Web.ViewModels.Home;
@using FreeRiders.Web.ViewModels;

@model HomeViewModel

@{
    var headerArguments = new HeaderViewModel
    {
        ImageUrl = "../Images/home-cover.jpg",
        Title = "The wild side of riding",
        Subtitle = "See all the cool sites you can visit and enjoy riding..."
    };
}

@Html.DisplayFor(a => headerArguments)

<div class="container text-center">
    <div class="row">
        <div class="col-md-4">
            @Html.Action("RenderLocationsHome", "Location", new { collection = Model.Locations })
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Hot Albums</h3>
                </div>
                @foreach (var album in Model.Albums)
                {
                    <div class="panel-body album-grid-container">
                        <a class="album-link" href="@Url.Action("AlbumDetails", "Album", new { id = album.ID })">
                            @Html.Partial("_AlbumGridLink", album)
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">New Events</h3>
                </div>
                @foreach (var ev in Model.Events)
                {
                    <div class="panel-body album-grid-container">
                        <a href="@Url.Action("Details", "Event", new { id = ev.ID })">
                            <h2>
                                @ev.Title
                            </h2>
                            @Html.DisplayFor(e => ev.Description)
                            @Html.DisplayFor(o => ev.DateOfEvent)
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
