@using FreeRiders.Web.ViewModels;
@using FreeRiders.Web.ViewModels.Album;
@using FreeRiders.Web.ViewModels.Review;

@model EditAlbumViewModel

@{
    var headerArguments = new HeaderViewModel
    {
        ImageUrl = Model.Picture.ImageUrl,
        Title = Model.Title,
        Subtitle = Model.LocationName,
    };
}

@Html.DisplayFor(a => headerArguments)

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="row album-details-text-content">
                <h2><strong>@Model.Title</strong></h2>
                <span> in </span>
                <a href="@Url.Action("LocationDetails", "Location", new { id = Model.LocationID })">
                    <h2>
                        <strong>@Model.LocationName</strong>
                    </h2>
                </a>
                <p class="subheading">
                    @Model.Description
                </p>

                <br />
                @if (Model.CreatorName == this.User.Identity.Name)
                {
                    @Html.ActionLink("Edit", "Edit", "Album", new { area = string.Empty, id = Model.ID }, new { @class = "btn btn-warning" })
                }
                <br />
            </div>

            <h3>
                <strong>Album reviews : </strong>
            </h3>
            <br />
                       
            <div id="reviews" class="row">                
                @if (this.Request.IsAuthenticated && ViewBag.UserHasntReviewed)
                {
                    var reviewModel = new ReviewCreateModel();
                    reviewModel.AlbumID = Model.ID;
                    <div class="row">
                        @Html.Partial("_PostReviewPartial", reviewModel)
                    </div>
                }
                
                <hr style="width: 70%;" />
                @Html.Action("ReviewsForAlbum", "Review", new { albumID = Model.ID })
            </div>
        </div>
        <br />
        <div class="col-md-6">
            <div class="row">
                @foreach (var picure in Model.Pictures)
                {
                    <div class="col-md-3 text-center album-thumbnail-container">
                        <a data-toggle="modal" data-target="#img-thumbnail@picture.ImageUrl"
                           class="img_modal"
                           href="@picure.ImageUrl"
                           target="_blank">

                            <img id="img-thumbnail@picture.ImageUrl"
                                 class="img-thumbnail image-in-container"
                                 src="@picure.ImageUrl"
                                 alt="No picture found here..." />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="modal" style=" overflow:hidden;" class="modal hide fade container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h4 id="myModalLabel">@Model.Title</h4>
        </div>
        <div class="modal-body text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 image-container-modal">
                    <img id="modal_img_target" class="image-in-container" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $('.img_modal').on('click', function (e) {
            e.preventDefault();
            $("#modal_img_target").attr("src", this);
            $("#modal").removeClass("hide");
            $('#modal').modal('show');
        });
    </script>
}