@using FreeRiders.Web.ViewModels.User

@model UserProfileViewModel

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5" id="avatar-profile-holder">
                @if (Model.Avatar != null)
                {
                    <img src="@Url.Action("Avatar", "User", new { username = Model.UserName })" alt="No avatar was found" class="img-responsive" />
                }
                else
                {
                    <img src="" alt="User has no profile picture" />
                }
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h2>
                    User <strong>@Model.UserName</strong>
                </h2>
                <h2>
                    Email <strong>@Model.Email</strong>
                </h2>
                <div>
                    @Html.Action("PostAvatar", new { username = Model.UserName })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4>
                        <strong>Events created</strong>
                    </h4>
                </div>
                @foreach (var ev in Model.EventsCreated)
                {
                    <div class="panel-body row">
                        @Html.ActionLink(ev.Title, "Details", "Event", new { Area = string.Empty, id = ev.ID }, null)
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4>
                        <strong>Events Joined</strong>
                    </h4>
                </div>
                @foreach (var ev in Model.EventsJoined)
                {
                    <div class="panel-body row">
                        @Html.ActionLink(ev.Title, "Details", "Event", new { Area = string.Empty, id = ev.ID }, null)
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4>
                        <strong>Albums</strong>
                    </h4>
                </div>
                @foreach (var album in Model.AlbumsCreated)
                {
                    <div class="panel-body row">
                        @Html.ActionLink(album.Title, "AlbumDetails", "Album", new { Area = string.Empty, id = album.ID }, null)
                    </div>
                }
            </div>
        </div>
    </div>
</div>