@using FreeRiders.Web.ViewModels;

@model FreeRiders.Models.Location

@{
    var headerArguments = new HeaderViewModel()
    {
        ImageUrl = Model.Picture.ImageUrl,
        Title = Model.Name,
        Subtitle = Model.Category.Name,
    };
}

@Html.DisplayFor(a => headerArguments)

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <h2>
                    <strong>@Model.Name</strong>
                </h2>
                @Html.DisplayFor(l => Model.Description)
            </div>
            <div class="row">
                <h2>Reviews will go here...</h2>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <h2>
                <strong>Albums</strong>
            </h2>
            @foreach (var album in Model.Albums)
            {
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <a href="@Url.Action("AlbumDetails", "Album", new { id = album.ID, })">
                            @Html.Partial("_AlbumGridLink", album)
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>